* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  width: 100%; 
}

.slider-frame .texta {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 60px;
  border-radius: 20px; 
  display: inline-block;
}

.slider-frame .explore button {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 50px;
  border-radius: 20px; 
  display: inline-block;
  border: 3px solid white;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: pink;
  height: 135px;
}

.Brand {
  font-size: 2.5rem; /* Cambiado a rem */
  font-family: cursive;
}

.header img {
  width: 100%;
  max-width: 300px;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 140px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  border: 4px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  margin-right: 20px;
  background-color: #ffbfe6;
}

nav li {
  margin-right: 20px;
  font-family: cursive;
  font-size: 1.75rem; /* Cambiado a rem */
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  text-decoration: underline;
}

.login-button button {
  padding: 15px 30px;
  background-color: #ffffff;
  border: 4px solid #ffffff;
  color: #000000;
  cursor: pointer;
  border-radius: 20px;
  font-family: cursive;
  font-size: 1.5rem; /* Cambiado a rem */
}

button:hover {
  background-color: #ffbfe6;
}

.secondline-bottom {
  display: flex;
  align-items: center;
  padding: -10px 20px;
  background-color: pink;
  height: 70px;
  margin-top: -5px;
}

.secondline-bottom p {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-size: 3.5rem; /* Cambiado a rem */
  margin: auto;
  color: #000000;
}

.container-pop-items {
  width: 100%;
  max-width: 1100px;
  height: auto;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid pink;
  background-color: #ffffff;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-pop-items .picture-det {
  width: 320px;
  height: 400px;
  border: 4px solid #525252;
  padding: 3px;
  margin-top: 20px;
  border-radius: 2vh;
  text-align: center;
  background-color: rgb(250, 250, 230);
}

.container-pop-items .picture-det ol {
  list-style: none;
  list-style-type: none;
  color: #000000;
}

.container-pop-items .picture-det li {
  margin-left: auto;
  font-size: 20px;
  text-decoration: none;
}

.container-pop-items .picture-det a {
 text-decoration: none;
}

.container-pop-items img {
  width: 310px;
  height: 230px;
  overflow: hidden;
  border-radius: 2vh;
  transition: transform 0.5s ease;
}

.container-pop-items img:hover {
  transform: scale(1.06);
}

.secondline p {
  margin: auto;
  margin-bottom: 10px;
  font-family: "Passion One", normal;
  font-size: 50px;
  width: 100%;
  padding: 25px;
  overflow: hidden;
  text-align: center;
  text-shadow: 
    -2px -2px 0 #fff4d1,  
    2px -2px 0 #fff4d1,  
    -2px 2px 0 #fff4d1,  
    2px 2px 0 #fff4d1;
}

.secondline {
  margin: auto;
  width: 100%;
  max-width: 1100px;
  overflow: hidden;
  border: 4px solid pink;
  background-color: pink;
}

footer {
  position: relative;
  width: auto;
  background: pink;
  min-height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

footer .social-icon {
  display: flex;
  position: relative;
  margin-right: 20px;
}

footer .social-icon li {
  list-style: none;
}

footer .social-icon li a {
  font-size: 2em;
  width: 20%;
  height: 20%;
  margin: 0 20px;
  display: inline-block;
  transition: 0.5s;
}

footer .social-icon li a img {
  width: 70px;
  height: 70px;
  margin-bottom: 80px;
}

footer .social-icon li a:hover {
  transform: translateY(-20px);
}

.footer img {
  width: 80%;
  height: 80%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.footer .footercont {
  margin-left: 170px;
  margin-bottom: 80px;
  margin-top: 55px;
}

.footer .footercont p {
  text-align: center;
  margin-top: 60px;
  margin-right: 30px;
}

.contact-form {
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header img {
    max-width: 150px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .slider-frame .explore button{
     transform: translate(-50%, 100%);
     font-size: 30px;
  }

  .slider-frame .texta{
    font-size: 35px;
  }

  .Brand {
    font-size: 1.875rem; 
  }

  .secondline, .secondline p {
    font-size: 2.5rem; 
    text-align: center;
  }

  .secondline-bottom p {
    font-size: 2.5rem;
    text-align: center; 
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer .social-icon {
    justify-content: center;
    width: 100%; 
    margin-top: 20px;
  }

  footer p {
    margin: -150px;
    margin-bottom: 1px;
    font-size: 1.5625rem;
  }

  footer nav ul {
    transform: translate(-77px);
  }

  footer img {
    max-width: 300px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  footer .login-button{
    transform: translate(6%);
  }

}

section .secondline-bottom{
  text-align: center;
}

@media (max-width: 992px) {
  .header img, .Brand {
    display: flex;
    height: 100%;
    max-height: 250px;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  .container-pop-items {
    flex-direction: column;
    align-items: center;
  }

  
  .container-pop-items .picture-det {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 320px; 
    height: 400px; 
    border: 4px solid #525252;
    padding: 3px;
    margin-top: 20px;
    border-radius: 2vh;
    text-align: center;
    background-color: rgb(250, 250, 230);
  }

  .container-pop-items .picture-det ol {
    list-style: none;
    list-style-type: none;
    color: #000000;
  }

  .container-pop-items .picture-det li {
    margin-left: auto;
    font-size: 20px;
    text-decoration: none;
  }

  .container-pop-items .picture-det a {
    text-decoration: none;
  }

  .container-pop-items img {
    width: 310px;
    height: 230px;
    overflow: hidden;
    border-radius: 2vh;
    transition: transform 0.5s ease;
  }

  .container-pop-items img:hover {
    transform: scale(1.06);
  }

  footer .login-button{
    transform: translate(6%);
  }
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    flex-direction: column;
    height: auto;
  }

  .header img {
    display: block;
    max-width: 150px;
    margin: 0;
  }

  footer nav ul {
    flex-direction: column;
    align-items: center;
    transform: translate(-80px);
  }

  footer .login-button{
    transform: translate(6%);
  }

  nav li {
    margin-right: 0;
    padding: 5px;
  }

  .login-button button {
    font-size: 1.25rem;
    padding: 10px 20px;
    margin-top: 15px;
  }

  .secondline p, .secondline-bottom p {
    font-size: 1.875rem;
  }

  
  .container-pop-items .picture-det {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    max-width: 320px; 
    border: 4px solid #525252;
    padding: 3px;
    margin-top: 20px;
    border-radius: 2vh;
    text-align: center;
    background-color: rgb(250, 250, 230);
  }

  .container-pop-items .picture-det ol {
    list-style: none;
    list-style-type: none;
    color: #000000;
  }

  .container-pop-items .picture-det li {
    margin-left: auto;
    font-size: 20px;
    text-decoration: none;
  }

  .container-pop-items .picture-det a {
    text-decoration: none;
  }

  .container-pop-items img {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura automáticamente */
    overflow: hidden;
    border-radius: 2vh;
    transition: transform 0.5s ease;
  }

  .container-pop-items img:hover {
    transform: scale(1.06);
  }

}

@media (max-width: 576px) {
  .secondline p, .secondline-bottom p {
    font-size: 1.5625rem; /* Cambiado a rem */
  }

  .slider-frame .texta {
    font-size: 23px;
  }

  .slider-frame .explore button {
    font-size: 20px;
  }

  .footer p {
    margin: -150px;
    margin-bottom: 1px;
  }

  .first_container p {
    font-size: 1.25rem; /* Cambiado a rem */
  }

  .first_container ol li {
    font-size: 1.125rem; /* Cambiado a rem */
  }

  nav li {
    font-size: 1.25rem; /* Cambiado a rem */
  }

  nav ul {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    transform: translate(10px);
  }

  .login-button button {
    font-size: 1.125rem; /* Cambiado a rem */
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  footer .social-icon li a {
    font-size: 1.5em;
  }

  footer .social-icon {
    gap: 1px;
    transform: translate(-15px);
  }

  footer p {
    font-size: 1.125rem; /* Cambiado a rem */
  }

  footer img {
    max-width: 230px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translate(15px);
  }

  footer .login-button{
    transform: translate(8%);
  }

  section .secondline-bottom p{
    font-size: 23px;
  }

  section .secondline-bottom{
    height: 80px;
  }

  .container-pop-items .picture-det {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    max-width: 320px; 
    border: 4px solid #525252;
    padding: 3px;
    margin-top: 20px;
    border-radius: 2vh;
    text-align: center;
    background-color: rgb(250, 250, 230);
  }

  .container-pop-items .picture-det ol {
    list-style: none;
    list-style-type: none;
    color: #000000;
  }

  .container-pop-items .picture-det li {
    margin-left: auto;
    font-size: 20px;
    text-decoration: none;
  }

  .container-pop-items .picture-det a {
    text-decoration: none;
  }

  .container-pop-items img {
    width: 100%; /* Ajusta el ancho según sea necesario */
    height: auto; /* Ajusta la altura automáticamente */
    overflow: hidden;
    border-radius: 2vh;
    transition: transform 0.5s ease;
  }

  .container-pop-items img:hover {
    transform: scale(1.06);
  }
}
  